html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background: white;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


.mobile-only {
  display: none;
}

.pt0 {
  padding-top: 0 !important;
}

.pt1 {
  padding-top: 1em !important;
}

.pt2 {
  padding-top: 2em !important;
}

.pt3 {
  padding-top: 3em !important;
}

.pt4 {
  padding-top: 4em !important;
}

.pt5 {
  padding-top: 5em !important;
}

.pt6 {
  padding-top: 6em !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb1 {
  padding-bottom: 1em !important;
}

.pb2 {
  padding-bottom: 2em !important;
}

.pb3 {
  padding-bottom: 3em !important;
}

.pb4 {
  padding-bottom: 4em !important;
}

.pb5 {
  padding-bottom: 5em !important;
}

.pb6 {
  padding-bottom: 6em !important;
}



.mt0 {
  margin-top: 0em !important;
}

.mt1 {
  margin-top: 1em !important;
}

.mt2 {
  margin-top: 2em !important;
}

.mt3 {
  margin-top: 3em !important;
}

.mt4 {
  margin-top: 4em !important;
}

.mt5 {
  margin-top: 5em !important;
}

.mt6 {
  margin-top: 6em !important;
}

.mt10 {
  margin-top: 10em !important;
}

.mt15 {
  margin-top: 15em !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 1em !important;
}

.mb2 {
  margin-bottom: 2em !important;
}

.mb3 {
  margin-bottom: 3em !important;
}

.mb4 {
  margin-bottom: 4em !important;
}

.mb5 {
  margin-bottom: 5em !important;
}

.mb6 {
  margin-bottom: 6em !important;
}

.ml1 {
  margin-left: 1em !important;
}

.mr1 {
  margin-right: 1em !important;
}







/* .tl-wrapper.tl-wrapper--mount{
}  */
/* .tl-wrapper.tl-wrapper--mount.tl-wrapper-status--entering{
  transition: all .2s;
} 
.tl-wrapper.tl-wrapper--mount.tl-wrapper-status--entered{
  transition: all .2s;
} 
 */

/* 
 .tl-wrapper main{
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper-status--entered main{
  transition: all .2s;
  opacity: 1;
  transition-delay: .2s;
} */


.tl-wrapper-status--entering header .logo.slideup{
  opacity: 0;
  transform: translateY(-100px);
  transition: all .5s;
  transition-delay: 0s;
}

.tl-wrapper-status--entered header .logo.slideup{
  opacity: 1;
  transform: translateY(-0px);
  transition: all .5s;
  transition-delay: 0s;
}

.header .logo{
  transform: translateY(-100px);
  transition: all .5s;
  transition-delay: 0s;
  opacity: 0;
}


.tl-wrapper-status--exiting header .slideup-contact{
  transform: translateY(-100px);
  transition: all .5s;
  transition-delay: 0s;
  opacity: 0;
}

.tl-wrapper-status--entering header .slideup-contact{
  opacity: 0;
  transform: translateY(-100px);
  transition: all .5s;
  transition-delay: 0s;
}

.tl-wrapper-status--entered header .slideup-contact{
  opacity: 1;
  transform: translateY(-0px);
  transition: all .5s;
  transition-delay: .3s;
}

/* .tl-wrapper-status--entering header .slideup .slideup-one{
  transition-delay: .1s;
  transform: translateY(-100px);
  transition: all .2s;
  display: inline-block;

}

.tl-wrapper-status--entered header .slideup .slideup-one{
  transform: translateY(-0px);
  transition: all .2s;
  transition-delay: .1s;
  display: inline-block;

}


.tl-wrapper-status--entering header .slideup .slideup-two{
  transition-delay: .15s;
  transform: translateY(-100px);
  transition: all .2s;
  display: inline-block;

}

.tl-wrapper-status--entered header .slideup .slideup-two{
  transform: translateY(-0px);
  transition: all .5s;
  transition-delay: .15s;
  display: inline-block;

}

.tl-wrapper-status--entering header .slideup .slideup-three{
  transition-delay: .2s;
  transform: translateY(-100px);
  transition: all .5s;
  display: inline-block;

}

.tl-wrapper-status--entered header .slideup .slideup-three{
  transform: translateY(-0px);
  transition: all .5s;
  transition-delay: .2s;
  display: inline-block;
} */
/* .tl-wrapper header .slideup{
  opacity: 1;
  transform: translateY(-400px);
  transition: all .5s;
  transition-delay: 0s;
} */



.tl-wrapper header .delay-1{
  transform: translateY(20px);
  transition: all .2s;
  transition-delay: 0s;
  opacity: 0;
}

.tl-wrapper header .delay-2{
  transform: translateY(20px);
  transition: all .2s;
  transition-delay: 0s;
  opacity: 0;
}

.tl-wrapper-status--entered header .delay-1{
  opacity: 1;
  transform: translateY(0px);
  transition: all .2s;
  transition-delay: 0s;
}

.tl-wrapper-status--exiting header .delay-1{
  opacity: 0;
  /* transform: translateY(20px); */
  transition: all .2s;
  transition-delay: 0s;
}

.tl-wrapper-status--entered header .delay-2{
  opacity: 1;
  transform: translateY(0px);
  transition: all .2s;
  transition-delay: .2s;
}



.tl-wrapper main .delay-1{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper-status--exiting .delay-1, .tl-wrapper-status--exiting .delay-2, .tl-wrapper-status--exiting .delay-3, .tl-wrapper-status--exiting .delay-4, .tl-wrapper-status--exiting .delay-5{
  opacity: 0;
  transform: translateY(20px);
  transition: all .5s;
  transition-delay: 0s;
}


.tl-wrapper main .delay-2{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper main .delay-2{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}


.tl-wrapper main .delay-3{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper main .delay-4{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper main .delay-5{
  transform: translateY(20px);
  transition: all .2s;
  opacity: 0;
}

.tl-wrapper-status--entered main .delay-1{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s;
  transition-delay: .1s;
}


.tl-wrapper-status--entered main .delay-2{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s;
  transition-delay: .3s;
}

.tl-wrapper-status--entered main .delay-3{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s;
  transition-delay: .7s;
}

.tl-wrapper-status--entered main .delay-4{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s;
  transition-delay: .9s;
}

.tl-wrapper-status--entered main .delay-5{
  opacity: 1;
  transform: translateY(0px);
  transition: all .5s;
  transition-delay: 1.1s;
}


.tl-wrapper main .copy-delay-1{
  opacity: 0;
}

.tl-wrapper-status--entered main .copy-delay-1{
  opacity: 1;
  transition: all .5s;
  transition-delay: .5s;
}

.tl-wrapper main .copy-delay-2{
  opacity: 0;
}

.tl-wrapper-status--entered main .copy-delay-2{
  opacity: 1;
  transition: all .5s;
  transition-delay: .7s;
}

.tl-wrapper main .copy-delay-3{
  opacity: 0;
}

.tl-wrapper-status--entered main .copy-delay-3{
  opacity: 1;
  transition: all .5s;
  transition-delay: .9s;
}

.rounded img{
  border-radius: 50px;
}


header{
  width: 100%;
  z-index: 1;
  /* background: #71685f; */
  /* background: #fdf6ef; */
}



.herotitle{
  color: #1E1E1E;
  padding-top: 3rem;
  text-transform: uppercase;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 140px;
  text-align: center;
}


.header-1{
  font-size: 5rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  color: #1E1E1E;
  letter-spacing: -0.04em;
}

.intro-copy{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4em;
  color: #1E1E1E;
  letter-spacing: -0.03em;
  float: left;
  max-width: 1890px;
}

.intro-copy-work{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 5rem;
  line-height: 1.2em;
  color: #1E1E1E;
  letter-spacing: -0.02em;
  float: left;
  max-width: 1890px;
}

.scope-list{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.4em;
  letter-spacing: 0em;
  color: #1E1E1E;
}

.small-copy{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  line-height: 1.5em;
  color: #1E1E1E;
  max-width: 550px;
}

.small-copy .arrow{
  float: none;
  width: 13px;
  height: 13px;
  margin-left: 0.2em;
  text-decoration: none;
}

.home-page-intro div{
  float: left;

}

.home-page-intro .header-3{
  font-size: 4vw;
}

.text-fade-1{

}



@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* @keyframes slide {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* .loaded .intro-copy{
  animation-name: fadein, slide;
  animation-duration: 2000ms, 3000ms;
  animation-delay: 1000ms, 2000ms; 
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: 1, 1;
  animation-direction: normal;
} */

body.preloader_active  .header .logo{
  opacity: 0;
}

.loaded .logo{
 opacity: 1;
  transform: translateY(0%);
  animation-name: fadein, slide;
  animation-duration: 2000ms, 3000ms;
  animation-delay: 1000ms, 2000ms; 
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: 1, 1;
  animation-direction: normal;
}

body.preloader_active  .header .contact-button{
  opacity: 0;
}

.loaded .contact-button{
 opacity: 1;
}

.work-list{
  margin-top: 2em;
}

.work-list .item{
  /* border-bottom: 1px solid #00000014; */
}

.work-list a:nth-child(1){

}


.work-list a{
  position: relative;
  width: 100%;
  text-decoration: none;
}



.work-list .item .arrow{
  width: 30px;
  margin-left: .5em;
  float: none;
  top: -30px;
  position: relative;
  transition: all .2s;
}

.work-list a .item:hover  .arrow{
  margin-left: 1em;
  transition: all .2s;
  width: 40px;
  transform: rotate(90deg);
}

.thumbnail{
  width: 180px;
  height: 110px;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-1000%);
  position: absolute;
  border-radius: 150px;
  transition: all .2s;
  transition-delay: all 1s;
}

.video-wrapper-small{
  width: 220px;
  height: 190px;
  top: 14px;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-1000%);
  position: absolute;
  border-radius: 30px;
  left: 20px;
  transition: all .2s;
  transition-delay: all 1s;
}

.work-list a .item:hover .video-wrapper-small{
  opacity: 1;
  transform: translateX(0%);
  transition: opacity .2s;
  transition-delay: .2s;
}

.work-list a .item:hover .thumbnail{
  opacity: 1;
  transform: translateX(0%);
  transition: opacity .2s;
  transition-delay: .2s;
}

.work-list a .item {
  font-family: "UntitledSans-Regular", sans-serif;
  /* font-family: 'ABCDiatypeSemi-Mono-Regular', sans-serif; */
  /* text-transform: uppercase; */
  font-weight: normal;
  font-size: 6rem;
  line-height: 1.5em;
  color: #1E1E1E;
  letter-spacing: -0.2rem;
  padding: 0em 0em;
  text-decoration: none;
  display: flex;
    transition: all .2s;
    background: linear-gradient(180deg, rgba(255, 255, 246, 0) 0%, rgba(196, 196, 196, 0) 100%);
  /* border-bottom: 1px solid white; */
}


.work-list a .item:hover {
  /* background-color: rgb(255, 248, 73); */
  /* background: linear-gradient(180deg, rgba(255, 255, 246, 0.38) 0%, rgba(196, 196, 196, 0.29) 100%); */
  transition: all .2s;
  /* background: #fff500; */
  background: color(display-p3 0.974 1 0);
}

.work-list a .item .inner{
  transform: translateX(0px);
  transition: all .2s;
  
}

.work-list a .item:hover .inner{
  transform: translateX(240px);
  transition: all .2s;
}

body.preloader_active .intro-copy{
  opacity: 0;
}

.loaded .intro-copy{
  animation: fadein 2s forwards;
  animation-delay: 5200ms;
}


body.preloader_active .section-2{
  opacity: 0;
}

.copy-block{
  padding-top: 2em;
  position: relative;
}

.loaded .section-2{
  animation: fadein 2s forwards;
  animation-delay: 5.3s;
}



.section-3, .section-4{
  margin-top: 10em;
}

body.preloader_active .menu{
  opacity: 0;
}

.loaded .menu{
  animation: fadein 2s forwards;
  animation-delay: 5.1s;
}

body.preloader_active .logo{
  opacity: 0;
}

.loaded .logo{
  animation: fadein 2s forwards;
  animation-delay: 5s;
}

body.preloader_active .video-wrapper{
  opacity: 0;
}

.loaded .video-wrapper{
  animation: fadein 2s forwards;
  animation-delay: 5.5s;
}


.menu.two{
    /* font-family: 'ABCDiatypeSemi-Mono-Regular', sans-serif; */
    font-family: "UntitledSans-Regular", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.1em;
    letter-spacing: -0.03em;
    /* text-transform: uppercase; */
    color: #1e1e1e;
    text-align: left;
    width: 60%;
    float: left;
}

.menu.two a{
  text-decoration: none;
  color: #1E1E1E;
  margin: 5px;
  transition: .2s all;
  padding: 0;
  height: 37px;
} 


.menu.two a:hover{
  transition: .2s all;
}


.item-two a {
  overflow: hidden;
  padding: 0px 10px 0px 0px;
  height: 46px;
  display: flex;
}

.item-two a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	height: 40px;
  transition-delay: 0s;
  opacity: 1;
}

.item-two a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  transition: opacity 0.2s;
  transition-delay: 0s;
  opacity: 0;
}

.item-two a:hover span::before{
  opacity: 1;
  transition: opacity 0.2s;
  transition-delay: .1s;
}

.item-two a:hover span,
.item-two a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
  transition-delay: 0.2s;
}

.item-two{
 display: inline-block;
  padding: 0;
}

.video-container{
  position: relative;
}

.intro-copy.black{
  color: #fff;;
}


.body.home-page{
  font-size: 2rem;
}
.text-center{
  text-align: center;
  float: none;
  width: 100%;
}

.header-2{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: rgb(30, 30, 30);
  letter-spacing: -0.02em;
}

.header-2 a{
  color: #1E1E1E;;
  text-decoration: none;
}

.project-wrapper .header-2{
  font-size: 2rem;
}


.project-date{
  text-align: right;
}

.project .header-1{
  font-size: 2rem;
}

.project .hero-sentence{
  font-size: 4rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  line-height: 1em;
  /* color: rgb(30, 30, 30); */
  color: #1E1E1E;
  letter-spacing: -0.02em;
}

.parallax-outer{
  position: relative;
}

.vertical-project-title{
  font-size: 1rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  line-height: 1em;
  /* color: rgb(30, 30, 30); */
  color: #1E1E1E;
  letter-spacing: -0.02em;
  height: 30px;
  padding-left: 17px;
}

.header-2.black {
  color: #1E1E1E;
}

.header-2.black a{
  color: #2f2f2f;
  text-decoration: none;
}
.header-3{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.3em;
  letter-spacing: -0.04em;
  color: white;
}

.header-3 a{
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}


.small-number{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: .7rem;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  top: -18px;
  left: 2px;
  position: relative;
}

.body{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.0em;
}

.body-copy{
  font-size: 1.4rem;
  font-family: "UntitledSans-Regular", sans-serif;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  font-weight: normal;
  max-width: 700px;
  color: #1E1E1E;
}

.small-body-copy{
  font-size: 1rem;
  font-family: "UntitledSans-Regular", sans-serif;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  font-weight: normal;
  max-width: 700px;
  margin-bottom: 0em;
}

ul.services-list{
  font-size: 1.1rem;
  font-family: "UntitledSans-Regular", sans-serif;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1E1E1E;
}

ul.services-list li{
  /* border-bottom:1px solid rgb(255 255 255 / 47%);
  padding-bottom: 3px; */
}

.services-list li:nth-child(1){
  opacity: .5;
  border-bottom: 0px;
}

.content{
  margin: 0 auto;
  max-width: 4000px;
  padding: 0 1em;
  position: relative;
}

.top-button-wrapper{
  position: fixed;
  top: 35px;
  right: 30px;
  width: 215px;
  height: 80px;
  z-index: 10;
}


.page-links .body a{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #1E1E1E;
  text-decoration: none;
  /* text-align: center; */
  /* padding: 1em 2em; */
  background: #1e1e1e00;
  border-radius: 50px;
  width: 300px;
  display: block;
  transition: .2s all;
}

.primary-button{
  margin-top: 1em;
  position: relative;
}

.primary-button.contact-button{
  position: relative;
  width: 30%;
  float: right;
  margin-top: 0;
  opacity: 0;
  /* right: 14px;
  top: 180px; */
}

.primary-button.contact-button a{
  float: right;
  width: 270px;
}

.primary-button.contact-button .link-text{
  font-size: 1rem;
}

.primary-button a{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: #1E1E1E;
  text-decoration: none;
  padding: 1em 2em;
  background: #fff500;

  background: color(display-p3 0.974 1 0);
  border-radius: 50px;
  width: 300px;
  display: block;
  transition: .2s all;
  /* box-shadow: 0px 0px 14px -1px #ffffff6b; */
}

.link-text{
  text-transform: uppercase;
  font-size: .9rem;
  color: #1a1a1a;
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
}

.primary-button a .small-arrow{
  margin-left: -5px;
  transition: all 0.2s ease-in-out;
  width: 0;
}

.primary-button a:hover .small-arrow{
  margin-left: 0px;
  transition: all 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.primary-button a:hover{
  background: #1E1E1E;
  transition: .2s all;
}

.primary-button a:hover .link-text{
  color: white;
  transition: .2s all;
}


.primary-button a:hover {
  /* box-shadow: 0px 0px 14px -1px #ffffffde; */
}

.small-arrow{
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 20px;
  top: 22px;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.logo{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  /* font-family: "UntitledSans-Regular", sans-serif; */
  font-weight: normal;
  font-size: 13.7vw;
  /* font-size:  8vw; */
  letter-spacing: -0.01em;
  margin-left: -6px;
  margin-top: 20px;
  float: left;
  line-height: .8em;
  text-transform: uppercase;
  padding-top: 0em;
  color: #1E1E1E;
  width: 102.5%;
}

.menu{
  /* float: right;
  text-align: right; */
  width: 100%;
  margin-top: 5px;
}


.menu-item {
  display: inline-block;
  margin-left: 1rem;
}

.menu-item a{
  color:  #1E1E1E;
  text-decoration: none;
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-size: .9rem;
  margin: 0.2em 1em 0.1em 1em;
  border: 1px solid black;
  border-radius: 50px;
  transition: .2s all ease-in-out ;
  text-transform: uppercase;
}

.menu.two a[aria-current="page"]{
  border-bottom: 1px solid #1E1E1E;
}


.menu-item a:hover{
  background: #fff500;
  border: 1px solid #fff500;
  border: 1px solid color(display-p3 0.974 1 0);
  background: color(display-p3 0.974 1 0);
  transition: .2s ease-in-out all;
}

.menu-item.contact-button a {
  background: #1E1E1E;
  color: black;
  border: 1px solid #1E1E1E;
}

.menu-item.contact-button a:hover {
  background: #fff500;
  background: color(display-p3 0.974 1 0);
  border: 1px solid #fff500;
  border: 1px solid color(display-p3 0.974 1 0);
}

.very-big-title{
  color: #1E1E1E;;
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-size: 10rem;
  line-height: 1.3em;
}

.very-big-link{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  float: left;
  height: 450px;
  padding-top: 160px;
}

.very-big-link a{
  color: #1E1E1E;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  font-size: 11rem;
  text-decoration: none;
  padding: 0em .5em;
  border-radius: 130px;
  border: 3px solid #1E1E1E;
  ;
}

.very-big-link a:hover{
  border: 3px solid #FFF849;
  color:  #FFF849;
}

.uppercase{
  text-transform: uppercase;
}

.logo a{
  color:   #1E1E1E;
  text-decoration: none;
}

.nav{
  font-family: "ABCMonumentGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0em;
  float: left;
  line-height: 1.1em;
}

.nav ul{
  list-style: none;
  margin-left: 0;
}

.arrow{
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  display: inline-block;
  float: left;
  margin-left: 1em;
  transition: transform 0.2s ease-in-out;
}

body{
  /* background-Color: #FBF5EB; */
  /* background: #F8D271; */
}

body{
  /* background-Color: #FBF5EB; */
  background: #ffca41;
  /* background: #050505; */
  background: color(display-p3 0.99 0.83 0.356);
}

.body{
  font-weight: normal;
  font-size: 1.2rem;
  color: #1E1E1E;
  max-width: 470px;
  letter-spacing: -0.03em;
}

.body a{
  color: #1E1E1E;
}

.border-50::before{
  border-radius: 20px;
}

.border-50::after{
  border-radius: 20px;
}

.border-50-no-hover::before{
  border-radius: 20px;
}

.border-50-no-hover::after{
  border-radius: 20px;
}

p.body{
  margin-bottom: .5rem;
}

.small-title{
  font-size: .7rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.list-uppercase{
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: .7rem;
}

.list-uppercase li{
  margin-bottom: calc(1rem / 2);
}
.arrow-hover-wrapper:hover .arrow{
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.text-indent{
  text-indent: 30px;
}

.project-info{
  margin-top: 5px;
  margin-bottom: 2em;
}

.project-info ul{
  list-style: none;
  margin: 0em;
}

.project-info ul li{
  margin-bottom: calc(0.15rem);
  font-family: "UntitledSans-Regular", sans-serif;
}

.project-info-wrapper{
  /* border-top: 1px solid rgba(0, 0, 0, 0.08); */
  display: flex;
  padding: 2em 0em;
  width: 100%;
}

.nav ul li{
  margin-bottom: 0.02em;
}

.nav a{
  color: #1E1E1E;
  text-decoration: none;
}

.landing{
  height: 100vh;
}


.menu-button button{
  color: #1E1E1E;
}
.header{
  padding: 0rem 0rem 0rem;
  transition: all .3s;
  opacity: 1;
  /* background: linear-gradient(360deg, rgb(255 202 65 / 0%) 0%, rgb(255 202 65) 15%); */
}

/* .tl-wrapper--mount.header{
  opacity: 0;
  transition: all .3s;
}

.tl-wrapper--mount.tl-wrapper-status--entered .header{
  opacity: 1;
  transition: all .3s;
} */

.header.bg-black{
  transition: all .3s;
  /* transform: translateY(-10%); */
  transition-delay: .1s;
}

/* .header.bg-black .logo a, .header.bg-black .header-5, .header.bg-black .contact, .header.bg-black .menu-button{
opacity: 0;
transition: opacity .3s ;
} */



.video-wrapper{
  height: 50vw;
  width: 100%;
  z-index: -1;
  border-radius: 20px;
  overflow: hidden;
}

.background-video{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  
  }

.intro{
  font-family: "ABCMonumentGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.4em;
}

.nav-bar-wrapper ul{
list-style: none;
text-align: right;
}

.nav-bar-wrapper li{
  display: inline-block;
  margin: 0rem .5rem;
  font-family: "ABCMonumentGrotesk", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  }

  .nav-bar-wrapper li a{
    color: black;
    text-decoration: none;
  }

  .project-link{
    display: inline-block;
    font-family: "ABCMonumentGrotesk", sans-serif;
    font-weight: normal;
    font-size: .9rem;
  }

  .project-title-wrapper{
    position: absolute;
    top: 1em;
    left: 2em;
  }

  .title-wrapper.overlay{
    position: absolute;
    top: 2em;
    left: 1em;
    z-index: 1;
  }

  .title-wrapper .arrow{
    float: none;
  }

  .title-wrapper.overlay .header-2{
    font-size: 1rem;
  }

  .title-wrapper.overlay .header-2 a,   .title-wrapper.overlay .body{
    color: white;
  }

  .burger{
    position: fixed;
    top: 2em;
  }


  nav ul{
    list-style: none;
    margin-top: 0rem;
    margin-left: 0;
  }

  nav ul li{
    display: block;
    margin-bottom: 1rem;
    float: left;
    clear: both;
  }

  .pb2{
    padding-bottom: 2em;
  }

  .pb1{
    padding-bottom: 1em;
  }

  .pt5{
    padding-top: 5em;
  }

  .big{
    font-size: 10rem;
    letter-spacing: -0.05em;
  }

  .project-wrapper{
    padding: 1em 1em;
    float: left;
  }

  .work-page-image-wrapper{
    height: 50vw;
    overflow: hidden;
    position: relative;
  }



.work-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-button{
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: black;
  text-decoration: none;
  padding: 1em 2em;
  background: #ffffffbd;
  background: color(display-p3 0.974 1 0);
  border-radius: 50px;
  width: 330px;
  height: 70px;
  display: block;
  transition: .2s all;
  text-align: center;
  /* box-shadow: 0px 0px 14px -1px #ffffff6b; */
}

.work-button a{
  text-align: center;
  text-decoration: none;
}
.work-button:hover{
  background: #fff;
}

.work-button .link-text{
  position: relative;
  top: 6px;
  left: 0;
}

  .project-image-group-wrapper{
    float: left;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project-info-wrapper.two{

  }

  .small-image-top{
    transform: translate(-20%, 10%);
  }

  .mobile-view  .gatsby-image-wrapper{
    width: 80%;
    margin: 0% auto;
    max-width: 500px;
    overflow: visible !important;
  }

  .mobile-view  .gatsby-image-wrapper img{
    border-radius: 20px;
    box-shadow: #00000012 -7px 8px 6px -1px;
  }

  .border-50::after{
    transform: scale(1);
    transition: all .5s !important;
  }

  .border-50:hover::after{
    transform: scale(1.05);
    transition: all .5s !important;
  }

  .border-50::before{
    transform: scale(1);
    transition: all .5s !important;
  }

  .border-50:hover::before{
    transform: scale(1.05);
    transition: all .5s !important;
  }

  .border-50{
    transition: all .2s;
  }

.hover-link {
    display: inline-block;
    text-decoration: none;
}

/* .hover-link::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 3px;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .3s;
} */

.arrow-hover-wrapper:hover{
  cursor: pointer;
}

.arrow-hover-wrapper:hover .hover-link::after {
  width: 100%;
  transition: width .3s;
}

.project-wrapper{
  position: relative;
  width: 100%;
  float: left;
}

.project-wrapper .arrow{
  display: none;
}

.project-wrapper .title-wrapper{
  position: relative;
  width: 100%;
    float: left;
}

.project-wrapper .title-wrapper .arrow{ 
  position: absolute;
  right: 30px;
}

.project-into{
  position: absolute;
  bottom: 3rem;
  display: inline-block;
  margin: 0rem;
  font-family: "ABCMonumentGrotesk", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  letter-spacing: 0em;
  left: 15px;
  color: #1E1E1E;
}

.text-center{
  text-align: center;
}

.project-into li{
  margin-bottom: 0rem;
}

.project-into ul{
  list-style: none;
  margin: 0em;

}


footer{
  font-size: 1.5rem;
  line-height: 1.3em;
  font-family: "ABCDiatypeSemi-Mono-Regular", sans-serif;
  background:linear-gradient(360deg, rgb(255, 255, 255) 0%, rgb(248 210 113 / 0%) 45%);
  /* background: #000; */
}

.white{
  color: white;
}



.header-5{
  font-family: "ABCMonumentGroteskSemiMono", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #1E1E1E;
}


footer ul li a{
  color: #1E1E1E;
  text-decoration: none;
}  
*, *::after, *::before{
  box-sizing: border-box;
}

footer a{
  color: #1E1E1E;
  text-decoration: none;
}


  /* &:active
    transform: translateY(3px)
  
  &::after, &::before
    border-radius: 3px
   */



   /* header .contact a{
    border-radius: 100px;
    border: 1px solid white;
    padding: .1em .75em;
    transition: ease-in-out .2s all;
    overflow: hidden;
    box-shadow: none;
  } */
  
  /* header .contact a:hover{
    border-radius: 100px;
    background: white;
    color: #2f2f2f;
    transition: ease-in-out .2s all;
  } */

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  position: relative;
  border: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 0px;
  padding: 23px 33px;
  border: 3px solid transparent;
}
button:active {
  transform: translateY(3px);
}
button::after, button::before {
  border-radius: 100px;
}

.material-bubble {
  background-color: transparent;
  color: #1b1b20;
  border: none;
  overflow: hidden;
  box-shadow: none;
  border-radius: 100px;
}

/* .contact{
  position: absolute;
  right: 0;
  bottom: 0;
} */
.contact a{
  font-family: 'ABCMonumentGrotesk', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0em;
  float: left;
  line-height: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
  color:#1E1E1E;
  z-index: 10;
  position: relative;
  transition: color 0.3s;
}

.contact:hover a{
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}


.material-bubble a:hover {
  color: rgb(255, 255, 255);
}
.material-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(255 255 255);
  transition: opacity 0.3s, border 0.3s;
}
.material-bubble:hover::before {
  opacity: 0;
}
.material-bubble::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 250px;
  height: 200px;
  background-color: #1f1b36;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.material-bubble:hover::after {
  opacity: .5;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}


#preloader{
  /* background-color: #ffca41; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@keyframes preloaderLeaving {
  /* 0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } */
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}


@keyframes bigslideLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

@keyframes bigslideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}


body.preloader_ready #preloader {

    animation: preloaderLeaving .5s forwards;
    animation-delay: 4.5s;
    animation-timing-function: ease-out;
  }

  body.preloader_ready #preloader .big-text{

    animation: bigslideLeft 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;
  }


  body.preloader_ready #preloader .big-text.two{

    animation: bigslideRight 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;
  }


  body.preloader_ready #preloader .big-text.three{

    animation: bigslideLeft 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;

  }

  body.preloader_active #preloader  {
    height: 100vh;
    overflow-y: hidden;
  }
    
  body.preloader_active #preloader {
      height: auto;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background-color: #F8D271; */
      /* background-image: linear-gradient(#fff, #ffca41); */
      /* background: #ffca41; */
      z-index: 9999;
      display: flex;
      overflow: hidden;
  }

  #preloader {
    position: fixed;
    display: none;
    top: 0;
    left: -10%;
    right: -10%;
    height: 0;
    margin-left: calc(100vw - 100%);
    overflow-x: hidden;
  }

  body .preloader_ready {
    height: auto;
    overflow-y: auto;
  }

  #preloader .big-text-wrapper{
    overflow: hidden;
  }

  #preloader .big-text{
    width: 3000px;
    left: -30%;
    position: absolute;
    top: 0;
    height: 50vh;
  }
  #preloader .big-text svg{
    height: 100%;
  }

  #preloader .big-text.two{
    width: 3000px;
    left: -60%;
    position: absolute;
    top: 50%;
    height: 50vh;
  }
  #preloader .big-text.three{
    width: 3000px;
    left: 10%;
    position: absolute;
    top: 60%;
    display: none;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(15%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  

  body #preloader .big-text svg path{
    opacity: 0;
  }

  body.preloader_active  #preloader .big-text svg path{
    animation: slideUp .2s forwards;
    animation-delay: 1s;
    animation-timing-function: ease-out;
  }

  body.preloader_active  #preloader .big-text svg path.two{
    animation-delay: 1.1s;
  }


  body.preloader_active  #preloader .big-text svg path.three{
    animation-delay: 1.15s;
  }


  body.preloader_active  #preloader .big-text svg path.four{
    animation-delay: 1.2s;
  }

  body.preloader_active  #preloader .big-text svg path.five{
    animation-delay: 1.25s;
  }

  body.preloader_active  #preloader .big-text svg path.six{
    animation-delay: 1.3s;
  }

  body.preloader_active  #preloader .big-text svg path.seven{
    animation-delay: 1.35s;
  }

  body.preloader_active  #preloader .big-text svg path.eight{
    animation-delay: 1.4s;
  }

  body.preloader_active  #preloader .big-text svg path.nine{
    animation-delay: 1.45s;
  }

  body.preloader_active  #preloader .big-text svg path.ten{
    animation-delay: 1.5s;
  }

  body.preloader_active  #preloader .big-text svg path.eleven{
    animation-delay: 1.55s;
  }

  body.preloader_active  #preloader .big-text svg path.twelve{
    animation-delay: 1.6s;
  }

  body.preloader_active  #preloader .big-text svg path.thirteen{
    animation-delay: 1.65s;
  }

  body.preloader_active  #preloader .big-text svg path.fourteen{
    animation-delay: 1.7s;
  }

  body.preloader_active  #preloader .big-text svg path.fifteen{
    animation-delay: 1.75s;
  }

  body.preloader_active  #preloader .big-text svg path.sixteen{
    animation-delay: 1.8s;
  }

  body.preloader_active  #preloader .big-text.two svg path{
    animation: slideUp .2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-out;
  }

  body.preloader_active  #preloader .big-text.two svg path.two{
    animation-delay: 1.8s;
  }


  body.preloader_active  #preloader .big-text.two svg path.three{
    animation-delay: 1.75s;
  }


  body.preloader_active  #preloader .big-text.two svg path.four{
    animation-delay: 1.7s;
  }

  body.preloader_active  #preloader .big-text.two svg path.five{
    animation-delay: 1.65s;
  }

  body.preloader_active  #preloader .big-text.two svg path.six{
    animation-delay: 1.6s;
  }

  body.preloader_active  #preloader .big-text.two svg path.seven{
    animation-delay: 1.55s;
  }

  body.preloader_active  #preloader .big-text.two svg path.eight{
    animation-delay: 1.5s;
  }

  body.preloader_active  #preloader .big-text.two svg path.nine{
    animation-delay: 1.45s;
  }

  body.preloader_active  #preloader .big-text.two svg path.ten{
    animation-delay: 1.4s;
  }

  body.preloader_active  #preloader .big-text.two svg path.eleven{
    animation-delay: 1.35s;
  }

  body.preloader_active  #preloader .big-text.two svg path.twelve{
    animation-delay: 1.3s;
  }

  body.preloader_active  #preloader .big-text.two svg path.thirteen{
    animation-delay: 1.25s;
  }

  body.preloader_active  #preloader .big-text.two svg path.fourteen{
    animation-delay: 1.2s;
  }

  body.preloader_active  #preloader .big-text.two svg path.fifteen{
    animation-delay: 1.15s;
  }

  body.preloader_active  #preloader .big-text.two svg path.sixteen{
    animation-delay: 1.1s;
  }

@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1500px) {
  .intro-copy{
    /* font-size: 5.5rem; */
  }
  .work-list a .item{
    font-size: 4rem;
  }
  .video-wrapper-small{
    width: 220px;
    height: 220px;
    z-index: 10;
  }
}
@media screen and (max-width: 992px) {
  .menu.two a{

  }
  .work-list a .item{
    font-size: 5rem;
  }
  ul.services-list{
    padding-bottom: 1em;
  }
  .logo{
    font-size: 13vw;
  }

} 
@media screen and (max-width: 768px) {
  .intro-copy{

    margin-top: 0em;
  }

  .intro-copy-work{
    font-size: 2rem;
    margin-top: 1em;
  }
  .small-number {
    font-size: 1rem;
    top: -16px;
  }
  .header-3{
    font-size: 2rem;
  }
  .header-2{
    font-size: 1.5rem;
  }
  .video-container{
    margin-top: 1em;
    position: relative;
  }
  .logo{
    font-size: 12.4vw;
  }
  .menu-item {
      margin-right: 1rem;
      margin-left: 0rem;
  }
  .menu-item a{
    font-size: 1rem;;
  }
  .very-big-title{
    font-size: 3rem;
  }
  .very-big-link{
    height: 160px;
    padding-top: 50px;
  }
  .very-big-link a{
    font-size: 5rem;;
  }
  .video-wrapper{
    height: 55vh;
  }
  .video-container{

  }
  .section-3, .section-4{
    margin-top: 2em;
  }
  
  .primary-button {
  
  }
  .section-2 .copy-block{
    /* height: 0vh; */
  }
  .work-list a .item{
    font-size: 3rem;
  }
  .work-list .item .arrow{
    top: -16px;
  }
  .copy-block{
    padding-top: 1em;
  }
  .work-list a .item .inner:hover{
    transform: translateX(0px);
  }
  #preloader .big-text.two{
    width: 1000px;
    left: -500%;
    position: absolute;
    top: 33%;
    height: 30vh;
  }
  #preloader .big-text{
    width: 1000px;
    left: -300%;
    position: absolute;
    top: 0;
    height: 30vh;
  }
  #preloader .big-text.three{
    width: 1000px;
    left: -200%;
    position: absolute;
    top: 66%;
    height: 30vh;
    display: block;
  }

  body.preloader_ready #preloader .big-text{

    animation: bigslideLeft 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;
  }


  body.preloader_ready #preloader .big-text.two{

    animation: bigslideRight 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;
  }


  body.preloader_ready #preloader .big-text.three{

    animation: bigslideLeft 2s forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in;

  }
  @keyframes bigslideLeft {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-550%);
    }
  }
  
  @keyframes bigslideRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(400%);
    }
  }
  .sm-mt-2{
    margin-top: 2em !important;
  }
  
  .sm-mt-0{
    margin-top: 0em !important;
  }
  .sm-mt-4{
    margin-top: 4em !important;
  }
  .sm-mt-6{
    margin-top: 6em !important;
  }
  .sm-mt-10{
    margin-top: 10em !important;
  }
  .sm-mt-20{
    margin-top: 20em !important;
  }
  .border-50::before{
    border-radius: 25px;
  }
  .project-wrapper .title-wrapper .arrow{
    right: 0px;
  }
  .project-wrapper .header-2{
    width: 90%;
    font-size: 1.3rem;
  }
  .header-1 {
    font-size: 2rem;
  }
  .header{
    padding: .3rem 0rem 0rem;
  }
  .menu.two{
    font-size: 1.2rem;
  }
  .menu.two a{
    margin: 0em 0.3em 0em 0em;
  }
  .work-page-image-wrapper {
    height: 100vw;
  }
  .project-info{
    margin-top: 0em;
  }
  .work-list a .item:hover .video-wrapper-small{
    opacity: 0;
    transform: none;
  }
  .work-list .item .arrow{
    width: 15px;
    height: 15px;
  }
  footer .small-copy{
    padding-bottom: .5em;
  }
  .project-image-group-wrapper{
    display: block;
  }
  .project-image-group-wrapper .mobile-view{
    padding-bottom: 2em;
  }
  .small-image-top {
    transform: translate(0%, -30%);
  }
  .project-info-wrapper{
    display: block;
  }
  .item-two {
    float: left;
    padding: 0;
  }
  .menu.two a{
    padding: 0px;
    height: 23px;
  }
  .item-two a span{
    height: 23px;
  }
  .menu.two a:hover{
    background: none;
    color: #1e1e1e;

  }
  .link-text{
    top: 2px;
  }
  .body{
    font-size: 1.2rem;
  }
  .menu{
    margin-top: 5px;
  }
}

@media screen and (max-width: 576px) {

}