html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


.tl-wrapper main{
  transition: all .5s;
  opacity: 0;
  transform: translateY(0px);
}

.tl-wrapper-status--entered main{
  transition: all .5s;
  opacity: 1;
  transition-delay: .2s;

}

.tl-wrapper main .delay-1{
  transition-delay: 1s;
  transform: translateY(500px);
  transition: all .5s;
}

.tl-wrapper-status--entered main .delay-1{

  transform: translateY(0px);
  transition: all .5s;
  transition-delay: 1s;
}

.rounded img{
  border-radius: 50px;
}


header{
  position: fixed;
  width: 100%;
  z-index: 1;
}


.herotitle{
  color: #2f2f2f;
  padding-top: 3rem;
  text-transform: uppercase;
  font-family: "UntitledSans-Regular";
  font-weight: normal;
  font-size: 140px;
  text-align: center;
}



.ht1{
  display: block;
  font-family: "General-Grotesque", sans-serif;
  font-weight: normal;
  font-size: 130px;
}

.ht2{
  display: block;
  font-family: "Cambon", serif;
  font-weight: normal;
  font-size: 140px;
}

.header-1{
  font-size: 8.5rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  letter-spacing: -0.4rem;
  float: left;
}

.header-2{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: -0.02rem;
  float: left;
}

.header-2 a{
  color: #fff;
  text-decoration: none;
}

.header-2.black {
  color: #000;
}

.header-2.black a{
  color: #000;
  text-decoration: none;
}
.header-3{
  font-family: "Cambon", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: .9em;
}

.body{
  font-family: "General-Grotesque", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.top-button-wrapper{
  position: fixed;
  top: 35px;
  right: 30px;
  width: 215px;
  height: 80px;
  z-index: 10;
}

.primary-button{
  width: 214px;
  height: 64px;
  left: 1185px;
  top: 72px;
  background: #FFFEE3;
  border-radius: 32px;
  border: 0px;
}


.primary-button a{
  font-family: "General-Grotesque", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: black;
  text-decoration: none;
}

.logo{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  float: left;
  line-height: 1.1em;
}

.logo a{
  color: black;
  text-decoration: none;
}

.nav{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0em;
  float: left;
  line-height: 1.1em;
}

.nav ul{
  list-style: none;
  margin-left: 0;
}

.arrow{
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  display: inline-block;
  float: left;
  margin-left: 1em;
  transition: transform 0.2s ease-in-out;
}

.body{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: black;
  max-width: 470px;
  letter-spacing: -0.01em;
}

p.body{
  margin-bottom: .5rem;
}

.arrow-hover-wrapper:hover .arrow{
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.text-indent{
  text-indent: 50px;
}

.project-info{
  margin-top: 4em;
  margin-bottom: 4em;
}

.project-info ul{
  list-style: none;
  margin: 0em;
}

.nav ul li{
  margin-bottom: 0.02em;
}

.nav a{
  color: black;
  text-decoration: none;
}



.menu-button{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 2.2rem;
  letter-spacing:-0.05em;
  float: right;
}


.header{
  padding: 1rem 0rem 0rem;
  height: 54px;
  background: white;
}


.intro{
  font-family: "NoiGrotesk", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.nav-bar-wrapper ul{
list-style: none;
text-align: right;
}

.nav-bar-wrapper li{
  display: inline-block;
  margin: 0rem .5rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  }

  .nav-bar-wrapper li a{
    color: black;
    text-decoration: none;
  }

  .project-link{
    display: inline-block;
    font-family: "General-Grotesque", sans-serif;
    font-weight: normal;
    font-size: .9rem;
  }

  .project-title-wrapper{
    position: absolute;
    top: 1em;
    left: 2em;
  }


  .burger{
    position: fixed;
    top: 2em;
  }

  .menu{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 20em;
    left: 0;
  }

  nav ul{
    list-style: none;
    margin-top: 0rem;
    margin-left: 0;
  }

  nav ul li{
    display: block;
    margin-bottom: 1rem;
    float: left;
    clear: both;
  }

  .pb2{
    padding-bottom: 2em;
  }

  .pb1{
    padding-bottom: 1em;
  }

  .pt5{
    padding-top: 5em;
  }

  .big{
    font-size: 10rem;
    letter-spacing: -0.05em;
  }

.hover-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.hover-link::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 3px;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.arrow-hover-wrapper:hover{
  cursor: pointer;
}

.arrow-hover-wrapper:hover .hover-link::after {
  width: 100%;
  transition: width .3s;
}

.project-into{
  position: absolute;
  bottom: 3rem;
  display: inline-block;
  margin: 0rem;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: .8rem;
  letter-spacing: 0em;
  left: 15px;
  color: black;
}

.text-center{
  text-align: center;
}

.big-link{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 8rem;
  color: black;
  line-height: 1.1em;
  text-decoration: none;
  text-align: left;
  float: left;
}

.project-into li{
  margin-bottom: 0rem;
}

.project-into ul{
  list-style: none;
  margin: 0em;

}

footer{
  border-top: 1px solid black;

}

footer .body{
  color: black;
}

.white{
  color: black;
}


.header-3{
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0em;
  text-transform: uppercase;
}

footer ul{
  color: black;
  font-family: "UntitledSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0em;
  list-style: none;
  margin: 2rem 0em 0 0;
}

footer ul li a{
  color: black;
  text-decoration: none;
}  

  /* .cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }
  
  html, body {
    cursor: none;
    background-color: #121212;
  } */

